<app-header></app-header>

<div class="container-fluid" style="margin-top: 10%">
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="https://image.flaticon.com/icons/svg/2892/2892041.svg" style="width:5%" class="img img-fluid">
      <h1 class="display-1" style="color:#00947e;">404</h1>
      <p class="display-4" style="color:#00476d;">Página no encontrada</p>
      <a href="/" class="display-4" style="font-size: 75%" >Volver a la página principal</a>
    </div>
  </div>
</div>
