<app-header [title]="'Configuración'"></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2 text-center">
          <app-menu></app-menu>
        </div>
        <div class="col-md-10">
            <div class="row">
              <!--         MENU-->
              <div class="col-md-12 justify-content-center">
                <div class="row">
                  <div class="col-md-12 pt-4 text-center" style="background-color:#002f5d;color:white; ">
                    <b class="display-4" style="font-size: 150%;">
                      Configuración básica
                    </b>
                    <pre></pre>
                  </div>
                  <div class="col-md-4">
                  </div>
                  <div class="col-md-2 pt-4">
                    <button (click)="this.ventana=false;" class="btn btn-outline-dark">
                      <span>
                        <img class="img img-fluid" style="width:30%"
                             src="https://image.flaticon.com/icons/svg/438/438901.svg">
                      </span>
                      <span>
                      Console
                      </span>
                    </button>
                  </div>
                  <div class="col-md-2 pt-4">
                    <button (click)="this.ventana=true;" class="btn btn-outline-dark">
                      <span>
                        <img class="img img-fluid" style="width:30%"
                             src="https://image.flaticon.com/icons/svg/860/860220.svg">
                      </span>
                      <span>
                      VTY
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <!--          MENU-->
              <!--              BODY-->
              <div id="CONSOLE" class="col-md-12 pt-4 justify-content-center" *ngIf="!ventana">
                <form [formGroup]="formConsole">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <b class="display-4" style="font-size: 180%;color:#009574">Console</b>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                      <div class="col-sm-12 pt-1 my-1 text-center">
                        <div style="color:#002f5d">
                          <p *ngIf="!showPasswords"> Ver contraseñas</p>
                          <p *ngIf="showPasswords"> Ocultar contraseñas</p>
                          <button class="btn" style="height: 40px" (click)="this.showPasswords=!showPasswords">
                          <span *ngIf="!showPasswords">
                            <p class="material-icons">visibility_off</p>
                          </span>
                            <span *ngIf="showPasswords">
                            <p class="material-icons">visibility</p>
                          </span>
                          </button>
                        </div>

                      </div>
                      <div class="col-sm-12">
                        <label class="sr-only">
                          Enable
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="enabled" disabled="true">
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Configure terminal
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="config_terminal" disabled="true">
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Line console 0
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="line_console_0" disabled="true">
                        </div>
                      </div>
                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Escribe la contraseña anterior
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="{{showPasswords?'text':'password'}}" class="form-control" formControlName="last_password" required
                                 placeholder="Escribe la contraseña anterior"
                                 data-toggle="tooltip"
                                 data-placement="top" title="password">
                        </div>
                        <div class="errorsValidate"
                             *ngIf="this.formConsole.controls.last_password.touched && this.formConsole.controls.last_password.hasError('required')">
                          El campo es requerido
                        </div>
                      </div>
                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Password
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="{{showPasswords?'text':'password'}}" class="form-control" formControlName="password" required
                                 placeholder="password"
                                 data-toggle="tooltip"
                                 data-placement="top" title="password"
                          >
                        </div>
                        <div class="errorsValidate"
                             *ngIf="this.formConsole.controls.password.touched && this.formConsole.controls.password.hasError('required')">
                          El campo es requerido
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Confirmar Password
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="{{showPasswords?'text':'password'}}" class="form-control" formControlName="confirm_password" required
                                 placeholder="Confirmar password"
                                 data-toggle="tooltip"
                                 data-placement="top" title="password"
                          >
                        </div>
                        <div class="errorsValidate"
                             *ngIf="this.formConsole.controls.confirm_password.touched && this.formConsole.controls.confirm_password.hasError('required')">
                          El campo es requerido
                        </div>
                        <div class="errorsValidate"
                             *ngIf="this.formConsole.controls.confirm_password.touched && this.formConsole.controls.password.value!=this.formConsole.controls.confirm_password.value">
                          Las contraseñas no coinciden
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Login
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="login" disabled="true">
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Exit
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="exit" disabled="true">
                        </div>
                      </div>
                      <div class="col-sm-12 pt-4 justify-content-center">
                        <button class="btn btn-outline-success"
                                data-toggle="tooltip"
                                data-placement="top" title="Guardar"
                        >
                          <p class="material-icons" (click)="actualizarLineConsole()" style="height: 9px">save</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
              <div id="VTY" class="col-md-12 pt-4 justify-content-center" *ngIf="ventana">
                <form [formGroup]="formVty">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <b class="display-4" style="font-size: 180%;color:#009574">VTY</b>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                      <div class="col-sm-12 pt-1 my-1 text-center">
                        <div style="color:#002f5d">
                          <p *ngIf="!showPasswords2"> Ver contraseñas</p>
                          <p *ngIf="showPasswords2"> Ocultar contraseñas</p>
                          <button class="btn" style="height: 40px" (click)="this.showPasswords2=!showPasswords2">
                          <span *ngIf="!showPasswords2">
                            <p class="material-icons">visibility_off</p>
                          </span>
                            <span *ngIf="showPasswords2">
                            <p class="material-icons">visibility</p>
                          </span>
                          </button>
                        </div>

                      </div>
                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Enabled
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="enabled" disabled="true">
                        </div>
                      </div>
                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Configure terminal
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="config_terminal" disabled="true">
                        </div>
                      </div>
                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Line console 0
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="line_vty" disabled="true">
                        </div>
                      </div>
                      <div class="col-sm-12 ">
                        <div class="container-fluid">
                          <div class="row content-center">
                            <div class="col-sm-6 text-center">
                              <label class="sr-only">
                                Escribe la contraseña anterior
                              </label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">
                                    <p class="material-icons" style="height:9px">code</p>
                                  </div>
                                </div>
                                <input class="form-control" formControlName="valorMinimo" [min]="0" required
                                       placeholder="0"
                                       data-toggle="tooltip"
                                       data-placement="top" title="0">
                              </div>
                              <div class="errorsValidate"
                                   *ngIf="this.formVty.controls.valorMinimo.touched && this.formVty.controls.valorMinimo.hasError('required')">
                                El campo es requerido
                              </div>
                              <div class="errorsValidate"
                                   *ngIf="this.formVty.controls.valorMinimo.touched && this.formVty.controls.valorMinimo.hasError('min')">
                                El valor minimo debe ser 0
                              </div>
                              <div class="errorsValidate"
                                   *ngIf="this.formVty.controls.valorMinimo.touched && this.formVty.controls.valorMinimo.hasError('pattern')">
                               El formato solo admite numeros
                              </div>
                            </div>
                            <div class="col-sm-6 text-center">
                              <label class="sr-only">
                                Escribe la contraseña anterior
                              </label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">
                                    <p class="material-icons" style="height:9px">code</p>
                                  </div>
                                </div>
                                <input class="form-control" formControlName="valorMax"
                                       data-toggle="tooltip"
                                       data-placement="top" title="0">
                              </div>
                              <div class="errorsValidate"
                                   *ngIf="(this.formVty.controls.valorMax.value<=this.formVty.controls.valorMinimo.value) && this.formVty.controls.valorMax.value!=null && this.formVty.controls.valorMax.value!='' ">
                                El valor minimo debe ser {{(formVty.controls.valorMinimo.value*1+1)}}
                              </div>
                              <div class="errorsValidate"*ngIf="this.formVty.controls.valorMax.touched && this.formVty.controls.valorMax.hasError('pattern')">
                                El formato solo admite numeros
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Password
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="{{showPasswords2?'text':'password'}}" class="form-control" formControlName="password" required
                                 placeholder="password"
                                 data-toggle="tooltip"
                                 data-placement="top" title="password"
                          >
                        </div>
                        <div class="errorsValidate"
                             *ngIf="this.formVty.controls.password.touched && this.formVty.controls.password.hasError('required')">
                          El campo es requerido
                        </div>
                      </div>
                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Confirmar Password
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="{{showPasswords2?'text':'password'}}" class="form-control" formControlName="confirm_password" required
                                 placeholder="Confirmar password"
                                 data-toggle="tooltip"
                                 data-placement="top" title="password"
                          >
                        </div>
                        <div class="errorsValidate"
                             *ngIf="this.formVty.controls.confirm_password.touched && this.formVty.controls.confirm_password.hasError('required')">
                          El campo es requerido
                        </div>
                        <div class="errorsValidate"
                             *ngIf="this.formVty.controls.confirm_password.touched && this.formVty.controls.password.value!=this.formVty.controls.confirm_password.value">
                          Las contraseñas no coinciden
                        </div>
                      </div>
                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Login
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="login" disabled="true">
                        </div>
                      </div>
                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Exit
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height:9px">code</p>
                            </div>
                          </div>
                          <input type="text" class="form-control" formControlName="exit" disabled="true">
                        </div>
                      </div>
                      <div class="col-sm-12 pt-4 justify-content-center">
                        <button class="btn btn-outline-success"
                                data-toggle="tooltip"
                                data-placement="top" title="Guardar"
                                (click)="actualizarVTY()"
                        >
                          <p class="material-icons" style="height: 9px">save</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!--              BODY-->

            </div>
        </div>
      </div>
    </div>
  </div>
</div>




