<div class="container-fluid shadow" style="
background: rgb(0,170,131);
background: linear-gradient(90deg, rgba(0,170,131,1) 0%, rgba(2,212,0,1) 0%, rgba(0,47,93,1) 0%, rgba(0,170,131,1) 46%);
color:white
-webkit-box-shadow: 1px 8px 5px -3px rgba(0,0,0,0.22);
-moz-box-shadow: 1px 8px 5px -3px rgba(0,0,0,0.22);
box-shadow: 1px 8px 5px -3px rgba(0,0,0,0.22);


">
  <div class="row">
        <div class="col-md-12 text-center">
      <img src="../../assets/imagenes/blanco.png" class="img img-fluid" width="18%">
<!--      <img src="../../assets/imagenes/azul.png" class="img img-fluid" width="18%">-->
<!--          <p class="display-4">{{title}}</p>-->
        </div>
  </div>
</div>

