<app-header [title]="'Configuración'"></app-header>

<div class="container-fluid" style="width: 102.4%">
  <div class="row">
    <div class="col-md-2">
      <app-menu></app-menu>
    </div>
    <div class="col-md-10" style="margin-left: -1.6%;">
      <div class="container-fluid">
        <div class="row">
          <!--         MENU-->
          <div class="col-md-12 justify-content-center">
            <div class="row">
              <div class="col-md-12 pt-4 text-center" style="background-color:#002f5d;color:white; ">
                <b class="display-4" style="font-size: 150%;">
                  ACL
                </b>
                <pre></pre>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-2 pt-4">
                <button (click)="this.ventana=false;" class="btn btn-outline-dark">
                      <span>
                        <img class="img img-fluid" style="width:30%"
                             src="https://image.flaticon.com/icons/svg/438/438901.svg">
                      </span>
                  <span>
                      Estándar
                      </span>
                </button>
              </div>
              <div class="col-md-2 pt-4">
                <button (click)="this.ventana=true;" class="btn btn-outline-dark">
                      <span>
                        <img class="img img-fluid" style="width:30%"
                             src="https://image.flaticon.com/icons/svg/860/860220.svg">
                      </span>
                  <span>
                      Extendida
                      </span>
                </button>
              </div>
              <div class="col-md-12 pt-4 text-center">
                <b class="display-4" *ngIf="!ventana" style="font-size: 180%;color:#009574">Estándar</b>
                <b class="display-4" *ngIf="ventana" style="font-size: 180%;color:#009574">Extendida</b>
              </div>
            </div>
          </div>
          <!--          MENU-->
          <!--              BODY-->
          <div id="estandar" class="col-md-12 pt-4 justify-content-center" *ngIf="!ventana">
            <form [formGroup]="formAclEstandar">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="col-sm-12 pt-1 my-1">
                      <label class="sr-only">
                        Enabled
                      </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <p class="material-icons" style="height:9px">code</p>
                          </div>
                        </div>
                        <input type="text" placeholder="IP Origen" formControlName="ipEntrada">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="col-sm-12 pt-1 my-1">
                      <label class="sr-only">
                        Enabled
                      </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <p class="material-icons" style="height:9px">code</p>
                          </div>
                        </div>
                        <input type="number" placeholder="Group" formControlName="group">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="col-sm-12 pt-1 my-1">
                      <label class="sr-only">
                        Enabled
                      </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <p class="material-icons" style="height:9px">code</p>
                          </div>
                        </div>
                        <select class="form-control" formControlName="cableEntrada">
                          <option value="null">Selecciona un cable</option>
                          <option [value]="item" *ngFor="let item of listClables">
                            {{item}}
                          </option>
                        </select>
                        <!--                       <input type="number" placeholder="Group" formControlName="cableEntrada">-->
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="col-md-12">
                      <button class="btn btn-primary" (click)="in_out=!in_out">
                        <p class="material-icons" style="margin-bottom:-20px" *ngIf="in_out">toggle_off</p>
                        <p class="material-icons" style="margin-bottom:-20px" *ngIf="!in_out">toggle_on</p>
                      </button>
                    </div>
                  </div>
                  <div class="col-sm-1 pt-2">
                    <div class="col-md-12">
                      <b class="display-4" style="font-size: 150%;" *ngIf="in_out">out</b>
                      <b class="display-4" style="font-size: 150%;" *ngIf="!in_out">in</b>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="col-sm-12">
                      <button (click)="guardar()" class="btn btn-outline-success" data-toggle="tooltip"
                              data-placement="top" title="Guardar"><p class="material-icons">save</p></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 pt-4 ">
                <p class="display-4 text-center" style="font-size:150%">Comandos</p>
                <div class="ex3">
                  <p style="margin-top: 1px"></p>
                  <p style="line-height : 2%;" *ngFor=" let comand of globalComands">{{comand}}</p>
                </div>
              </div>
              <div class="col-sm-12 pt-4">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Dirección origen</th>
                    <th scope="col">Opciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of listACLlist">
                    <td>{{item}}</td>
                    <td>
                      <button (click)="eliminar(item)" class="btn btn-outline-danger" data-toggle="tooltip"
                              data-placement="top" title="Eliminar">
                        <p class="material-icons">delete</p></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
        <div id="extendida" class="col-md-12 pt-4 justify-content-center" *ngIf="ventana">
          <form [formGroup]="formAclExtendida">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-3">
                  <div class="col-sm-12 pt-1 my-1">
                    <label class="sr-only">
                      Enabled
                    </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <p class="material-icons" style="height:9px">code</p>
                        </div>
                      </div>
                      <input type="text" placeholder="IP Origen" formControlName="ipEntrada">
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="col-sm-12 pt-1 my-1">
                    <label class="sr-only">
                      Enabled
                    </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <p class="material-icons" style="height:9px">code</p>
                        </div>
                      </div>
                      <input type="text" placeholder="IP Destino" formControlName="ipDestino">
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="Guardar"><p
                    class="material-icons">save</p></button>
                </div>
              </div>
            </div>
            <div class="col-sm-12 pt-4">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Dirección origen</th>
                  <th scope="col">Dirección destino</th>
                  <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of listACLlist">
                  <td>{{item}}</td>
                  <td>
                    <button (click)="eliminar(item)" class="btn btn-outline-danger" data-toggle="tooltip"
                            data-placement="top" title="Eliminar">
                      <p class="material-icons">delete</p></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
        <!--              BODY-->

      </div>
    </div>
  </div>
</div>
