<div class="container-fluid" style="width: 102.4%">
  <div class="row">
    <div class="col-md-12" style="margin-left: -1.6%;">
      <app-header [title]="'Configuración'"></app-header>
      <div class="row">
        <div class="col-md-2">
          <app-menu></app-menu>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-4 pt-4">
              <form [formGroup]="formVLAN">
                <input formControlName="numero" type="number">
              </form>
              <br>
              <button (click)="agregarVLAN()" (click)="this.formVLAN.controls.numero.setValue(0)" class="btn btn-success">Añadir</button>
            </div>
            <div class=" pt-4 col-md-8">
              <button class="btn btn-success" (click)="this.formVLAN.controls.numero.setValue(0)" (click)="enviarDatosAlBack()">Guardar</button>
            </div>

            <div class="pt-4 col-md-4" *ngFor="let vlan of vlans;index as i">
                <div class="card">
                  <div class="card-body">
                    <input type="number"  [(ngModel)]="vlans[i].vlan_numero" placeholder="numero">
                    <input type="text"  [(ngModel)]="vlans[i].vlan_name_string" placeholder="nombre">
                  </div>
                </div>
              <button class="btn btn-danger" (click)="eliminarVlan(i)"  >
                Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





