<div class="container-fluid" style="width: 102.4%;">
  <div class="row">
    <div class="col-md-12" style="margin-left: -1.6%;">
      <app-header [title]="'Configuración'"></app-header>
      <div class="row">
        <div class="col-md-2">
          <app-menu></app-menu>
        </div>
        <div class="col-md-10">
          <div class="container-fluid">
            <div class="row">
              <!--         MENU-->
              <div class="col-md-12 justify-content-center">
                <div class="row">
                  <div
                    class="col-md-12 pt-4 text-center"
                    style="background-color: #002f5d; color: white;"
                  >
                    <b class="display-4" style="font-size: 150%;">
                      Configuración de VLAN
                    </b>
                    <pre></pre>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-2 pt-4">
                    <button
                      (click)="this.ventana = 1"
                      class="btn btn-outline-dark"
                    >
                      <span>
                        <img
                          class="img img-fluid"
                          style="width: 30%;"
                          src="https://image.flaticon.com/icons/svg/438/438901.svg"
                        />
                      </span>
                      <span>
                        Crear VLAN
                      </span>
                    </button>
                  </div>
                  <div class="col-md-2 pt-4">
                    <button
                      (click)="this.ventana = 2"
                      class="btn btn-outline-dark"
                    >
                      <span>
                        <img
                          class="img img-fluid"
                          style="width: 30%;"
                          src="https://image.flaticon.com/icons/svg/860/860220.svg"
                        />
                      </span>
                      <span>
                        Asignar puertos
                      </span>
                    </button>
                  </div>
                  <div class="col-md-2 pt-4">
                    <button
                      (click)="this.ventana = 3"
                      class="btn btn-outline-dark"
                    >
                      <span>
                        <img
                          class="img img-fluid"
                          style="width: 30%;"
                          src="https://image.flaticon.com/icons/svg/860/860220.svg"
                        />
                      </span>
                      <span>
                        Puertos Trunk
                      </span>
                    </button>
                  </div>
                  <div class="col-md-2 pt-4">
                    <button
                      (click)="this.ventana = 4"
                      class="btn btn-outline-dark"
                    >
                      <span>
                        <img
                          class="img img-fluid"
                          style="width: 30%;"
                          src="https://image.flaticon.com/icons/svg/860/860220.svg"
                        />
                      </span>
                      <span>
                        Ruteo
                      </span>
                    </button>
                  </div>
                  <div class="col-md-2 pt-4">
                    <button
                      (click)="this.ventana = 5"
                      class="btn btn-outline-dark"
                    >
                      <span>
                        <img
                          class="img img-fluid"
                          style="width: 30%;"
                          src="https://image.flaticon.com/icons/svg/860/860220.svg"
                        />
                      </span>
                      <span>
                        Ver configuración
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <!--          MENU-->
              <!--              BODY-->
              <div
                id="CREAR"
                class="col-md-12 pt-4 justify-content-center"
                *ngIf="ventana == 1"
              >
                <form [formGroup]="formNumeroVlans">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <b
                        class="display-4"
                        style="font-size: 180%; color: #009574;"
                        >Creación de VLAN</b
                      >
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <div class="col-sm-12 pt-1 my-1">
                        <b>Número de VLANs a crear </b>
                        <input
                          formControlName="cantidad"
                          type="number"
                          name="cantidadVlan"
                          min="1"
                          max="10"
                        />
                      </div>
                      <div class="col-sm-12 pt-1 my-1">
                        <button
                          type="submit"
                          class="btn btn-success"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Aceptar"
                          (click)="crearVlan()"
                        >
                          <p class="material-icons" style="height: 9px;">
                            done_outline
                          </p>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>

                <form [formGroup]="formCrearVlan" (ngSubmit)="cargarCantidad()">
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">VLAN</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height: 9px;">
                                code
                              </p>
                            </div>
                          </div>
                          <input
                            formControlName="vlan_number"
                            type="number"
                            #valorInput
                            (input)="
                              this.vlans[0].vlan_number = valorInput.value
                            "
                            type="text"
                            placeholder="VLAN"
                            class="form-control"
                            required
                          />
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          name
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height: 9px;">
                                code
                              </p>
                            </div>
                          </div>
                          <input
                            formControlName="name_name"
                            type="text"
                            class="form-control"
                            placeholder="name"
                            required
                            #name_name
                            (input)="vlans[0].name_name = name_name.value"
                          />
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          exit
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height: 9px;">
                                code
                              </p>
                            </div>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="exit"
                            disabled="true"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 pt-4 justify-content-center">
                        <button
                          type="submit"
                          class="btn btn-success"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Guardar"
                          (click)="crearVlan()"
                        >
                          <p class="material-icons" style="height: 9px;">
                            add_to_queue
                          </p>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div
                id="ASIGNACION"
                class="col-md-12 pt-4 justify-content-center"
                *ngIf="ventana == 2"
              >
                <form [formGroup]="formAsignarPuertos">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <b
                        class="display-4"
                        style="font-size: 180%; color: #009574;"
                        >VTY</b
                      >
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Enabled
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height: 9px;">
                                code
                              </p>
                            </div>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="enabled"
                            disabled="true"
                          />
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Configure terminal
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height: 9px;">
                                code
                              </p>
                            </div>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="config_terminal"
                            disabled="true"
                          />
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Line console 0
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height: 9px;">
                                code
                              </p>
                            </div>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="line_vty"
                            disabled="true"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="container-fluid">
                          <div class="row content-center">
                            <div class="col-sm-2 text-center">
                              <p
                                class="display-4"
                                style="font-size: 140%; color: #002f5d;"
                              >
                                0
                              </p>
                              <img
                                *ngIf="
                                  this.formAsignarPuertos.controls.cero.value
                                "
                                (click)="
                                  this.formAsignarPuertos.controls.cero.setValue(
                                    false
                                  )
                                "
                                src="https://image.flaticon.com/icons/png/512/1827/1827880.png"
                                class="img-fluid"
                                style="width: 500%;"
                              />
                              <img
                                *ngIf="
                                  !this.formAsignarPuertos.controls.cero.value
                                "
                                (click)="
                                  this.formAsignarPuertos.controls.cero.setValue(
                                    true
                                  )
                                "
                                src="https://image.flaticon.com/icons/png/512/483/483347.png"
                                class="img-fluid"
                                style="width: 500%;"
                              />
                            </div>
                            <div class="col-sm-2 text-center">
                              <p
                                class="display-4"
                                style="font-size: 140%; color: #002f5d;"
                              >
                                1
                              </p>
                              <img
                                *ngIf="
                                  this.formAsignarPuertos.controls.uno.value
                                "
                                (click)="
                                  this.formAsignarPuertos.controls.uno.setValue(
                                    false
                                  )
                                "
                                src="https://image.flaticon.com/icons/png/512/1827/1827880.png"
                                class="img-fluid"
                                style="width: 500%;"
                              />
                              <img
                                *ngIf="
                                  !this.formAsignarPuertos.controls.uno.value
                                "
                                (click)="
                                  this.formAsignarPuertos.controls.uno.setValue(
                                    true
                                  )
                                "
                                src="https://image.flaticon.com/icons/png/512/483/483347.png"
                                class="img-fluid"
                                style="width: 500%;"
                              />
                            </div>
                            <div class="col-sm-2 text-center">
                              <p
                                class="display-4"
                                style="font-size: 140%; color: #002f5d;"
                              >
                                2
                              </p>
                              <img
                                *ngIf="
                                  this.formAsignarPuertos.controls.dos.value
                                "
                                (click)="
                                  this.formAsignarPuertos.controls.dos.setValue(
                                    false
                                  )
                                "
                                src="https://image.flaticon.com/icons/png/512/1827/1827880.png"
                                class="img-fluid"
                                style="width: 500%;"
                              />
                              <img
                                *ngIf="
                                  !this.formAsignarPuertos.controls.dos.value
                                "
                                (click)="
                                  this.formAsignarPuertos.controls.dos.setValue(
                                    true
                                  )
                                "
                                src="https://image.flaticon.com/icons/png/512/483/483347.png"
                                class="img-fluid"
                                style="width: 500%;"
                              />
                            </div>
                            <div class="col-sm-2 text-center">
                              <p
                                class="display-4"
                                style="font-size: 140%; color: #002f5d;"
                              >
                                3
                              </p>
                              <img
                                *ngIf="
                                  this.formAsignarPuertos.controls.tres.value
                                "
                                (click)="
                                  this.formAsignarPuertos.controls.tres.setValue(
                                    false
                                  )
                                "
                                src="https://image.flaticon.com/icons/png/512/1827/1827880.png"
                                class="img-fluid"
                                style="width: 500%;"
                              />
                              <img
                                *ngIf="
                                  !this.formAsignarPuertos.controls.tres.value
                                "
                                (click)="
                                  this.formAsignarPuertos.controls.tres.setValue(
                                    true
                                  )
                                "
                                src="https://image.flaticon.com/icons/png/512/483/483347.png"
                                class="img-fluid"
                                style="width: 500%;"
                              />
                            </div>
                            <div class="col-sm-2 text-center">
                              <p
                                class="display-4"
                                style="font-size: 140%; color: #002f5d;"
                              >
                                4
                              </p>
                              <img
                                *ngIf="
                                  this.formAsignarPuertos.controls.cuatro.value
                                "
                                (click)="
                                  this.formAsignarPuertos.controls.cuatro.setValue(
                                    false
                                  )
                                "
                                src="https://image.flaticon.com/icons/png/512/1827/1827880.png"
                                class="img-fluid"
                                style="width: 500%;"
                              />
                              <img
                                *ngIf="
                                  !this.formAsignarPuertos.controls.cuatro.value
                                "
                                (click)="
                                  this.formAsignarPuertos.controls.cuatro.setValue(
                                    true
                                  )
                                "
                                src="https://image.flaticon.com/icons/png/512/483/483347.png"
                                class="img-fluid"
                                style="width: 500%;"
                              />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Password
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height: 9px;">
                                code
                              </p>
                            </div>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="password"
                            required
                            placeholder="password"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="password"
                          />
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Login
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height: 9px;">
                                code
                              </p>
                            </div>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="login"
                            disabled="true"
                          />
                        </div>
                      </div>

                      <div class="col-sm-12 pt-1 my-1">
                        <label class="sr-only">
                          Exit
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <p class="material-icons" style="height: 9px;">
                                code
                              </p>
                            </div>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="exit"
                            disabled="true"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 pt-4 justify-content-center">
                        <button
                          class="btn btn-success"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Guardar"
                        >
                          <p class="material-icons" style="height: 9px;">
                            save
                          </p>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!--              BODY-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
