/* You can add global styles to this file, and also import other style files */
.errorsValidate{
  padding-top: 1%;
  color:red;
  font-family: Arial, Helvetica, sans-serif;
}
div.ex3{
  background-color: #e7e7e7;
  height: 250px;
  overflow: auto;
  line-height: 0px;
}
